/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.padded-top {
  padding-top: 6em;
}
.padded-bottom {
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: -webkit-linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%);
  background:    -moz-linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%);
  background:     -ms-linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%);
  background:      -o-linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%);
  background:         linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%);
  // background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
