---
title: Our prices
---

<div class="padded-top text-center">
  <div class="bg-blue padded">
    <h1>Please contact us if you have any questions</h1>
    <h2>Liveabord: free</h2>
    <h2>Day trip: free</h2>
  </div>
</div>
