---
title: Our team
---

<div class="padded-top">
  <div class="padded bg-blue">
    <div class="container">
      <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "http://mouvementdemocrate78.fr/wp-content/uploads/2014/09/sarkozy.jpg", class: "img-circle team-thumbnail" %>
          <h2>Our manager</h2>
          <p>
            Every line writen with your stylus is stored in the cloud, so that it's never lost
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "http://cafecroissant.fr/wp-content/uploads/2008/02/bush_face.jpg", class: "img-circle team-thumbnail" %>
          <h2>Our accountant</h2>
          <p>
            Get feedbacks on the way you write, your favorite words, your frequent mistakes
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "http://aun-tv.com/wp-content/uploads/2014/08/Kim-Jong-il-portrait.jpg", class: "img-circle team-thumbnail" %>
          <h2>Our instructor</h2>
          <p>
            Stylus instantaneously copy your text on your computer, in real-time
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "http://beyondthemarquee.com/wp-content/uploads/2013/10/et-feat.jpg", class: "img-circle team-thumbnail" %>
          <h2>Our CEO</h2>
          <p>
            Don't change your habits, write with a pen on paper notebooks
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
